.item
{
	border: 1px solid gray;
	display: inline-block;
	margin: 20px;
	width: 400px;
}
.item_row
{	border-top: 1px solid gray;
 
	width: 100%;
}

.item_img
{	
	height: 150px;
	width: 150px;
}


#shopping-cart {
	margin: 40px;
}

#product-grid {
	margin: 40px;
}


.txt-heading {
	color: #211a1a;
	border-bottom: 1px solid #E0E0E0;
	overflow: auto;
}

#btnEmpty {
	background-color: #ffffff;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}

.btnAddAction {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
	margin-bottom: 18px;
}

.product-item {
	float: left;
	background: #ffffff;
	margin: 30px 30px 30px 0px;
	border: #E0E0E0 1px solid;
}

.product-image {
	height: 155px;
	width: 250px;
	background-color: #FFF;
}

.clear-float {
	clear: both;
}

.demo-input-box {
	border-radius: 2px;
	border: #CCC 1px solid;
	padding: 2px 1px;
}

.product-title {
	margin-bottom: 20px;
}

.product-price {
	float:left;
}

.cart-action {
	float: right;
}

.product-quantity {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
}

.product-tile-footer {
    padding: 15px 15px 0px 15px;
    overflow: auto;
}

.cart-item-image {
	width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 15px;
    vertical-align: middle;
    margin-right: 15px;
}
.no-records {
	text-align: center;
	clear: both;
	margin: 38px 0px;
}


/* Chat area */

.fab-container{
	position:fixed;
	bottom:15px;
	right:15px;
	z-index:999;
	cursor:pointer;
}
.fab-icon-holder{
	width: 90px;
	height:90px;
}
.fab-icon-holder button{
	background:#0C0;
	color:#fff;
	width: 80px;
	height:80px;
	font-size:40px;
	border-radius:50%;
}



 